@media (max-width: 767px){
.home_prent {
    height: 233px;
}
#man_section_5 input {
    margin-bottom: 10px;
}
.home_prent img, .man_parent img{
    object-fit: cover;
}
.man_parent img{
    height: 260px;    
}
.full_width_img .man_child {
    padding-top: 40%;
}
#man_section_4 ul li a {
    padding: 12px;
}
.men_footer {
    border-left: 0px solid #fff;
    border-bottom: 1px solid rgb(184, 184, 184);
    padding: 10px 0px;
}
.border_none{
    border-bottom:none !important;
}
#copywrite .container {
    padding: 0px 15px 15px 15px;
}
}










@media (min-width: 768px){
.pl_o_pr_o{
    padding-left: 0px;
    padding-right: 0px;
}
.row_p_o{
    padding:0px;
}	
}


@media (max-width: 991px){
.desktop_navbar{
display: none;
}
}
@media (min-width: 992px){
.mobile_navbar{
display: none;	
}	
}


@media (max-width: 991px){
.logo img {
    max-width: 120px;
}
}
@media (min-width: 1200px){
#man_section_2 .container, #man_section_3 .container, #man_section_5 .container{
    max-width: 1250px;
}   
}