@media (max-width: 767px){
.facebook, .google {
margin: 10px auto;
}
.update_cart, .coupon_code {
margin-bottom: 10px;
}    
.coupon_code {
width: 100%;
}    
#cart_1 h1 ,#sign_1 h1{
padding: 25px 0px 0px 0px;
letter-spacing: 3px;
font-size: 25px;
}    
#view_3 .container {
padding: 10px 10px;
}
#overview, #review, #contact_part{
padding-top: 30px;
}
.leftbar{
border-right: none;
}
.add_to_card_modal .cart_count {
padding-left: 15px;
padding-right: 15px;
}
.add_to_card_modal strong{
padding-top: 10px;
}
.zoom-thumb a {
height: 17% !important;
}
.diescripiton_modal {
padding: 8px;
}
.mymodal {
top: 2%;
left: 3%;
width: 94%;
}
.size select {
width: 80%;
}
.cart_count div {
margin-right: 0px;
}
.tabs{
padding-left: 30px;
}
.diescripiton_modal h4{
font-size: 17px;
}
.zoom {
height: 345px !important;
}

.fa-shopping-bag {
padding: 15px 20px 20px 15px !important;
}
.men_single_page {
height: 240px;
}
.product_price p {
font-size: 16px !important;
}
.men_single_page i {
font-size: 20px;
padding: 15px 17px 15px 15px !important;
} 
.linkig_option .col-2{    
padding-right: 30px;
padding-left: 0px;
}
.fa-shopping-bag {
padding: 15px 20px 20px 15px  !important;
} 
.empty_two{
display: none;
}
.men_single_page .man_child {
padding-top: 35%;
}
.per_page select {
width: 175px;
}   
.num_box {
display: none;
}
.sort_by{
padding-bottom: 15px;
}
.home_prent {
height: 233px;
}
#man_section_5 input {
margin-bottom: 10px;
}
.home_prent img, .man_parent img{
object-fit: cover;
}
.man_parent img{
height: 260px;    
}
.full_width_img .man_child {
padding-top: 40%;
}
#man_section_4 ul li a {
padding: 12px;
}
.men_footer {
border-left: 0px solid #fff;
border-bottom: 1px solid rgb(184, 184, 184);
padding: 10px 0px;
}
.border_none{
border-bottom:none !important;
}
#copywrite .container {
padding: 0px 15px 15px 15px;
}

}










@media (min-width: 768px){
.pl_o_pr_o{
padding-left: 0px;
padding-right: 0px;
}
.row_p_o{
padding:0px;
}	
.pl_o{
padding-left:0px !important;
}
.pr_o{
padding-right: 0px !important;
}
}


@media (max-width: 991px){
.desktop_navbar{
display: none;
}
}
@media (min-width: 992px){
.mobile_navbar{
display: none;	
}	
}


@media (max-width: 991px){
.logo img {
max-width: 120px;
}
}
@media (min-width: 1200px){
#man_section_2 .container, 
#man_section_3 .container, 
#man_section_5 .container, 
#view_1 .container, 
#view_2 .container, 
#view_3 .container, 
#cart_2 .container, 

#men_single_1 .container, 
#men_single_2 .container{
max-width: 1250px;
}   
}



@media (max-width: 320px){
.zoom-thumb a {
height: 17% !important;
}	
}
