ul{
margin: 0;
padding: 0;
}
li{
list-style-type: none;
display: inline-block;
}
a{
text-decoration: none;
}
.navbar{
background: #fff;
padding-top: 0;
padding-bottom: 0;
box-shadow: 1px 3px 4px 0 #adadad33;
}
.navbar-light .navbar-brand {
color: #2196F3;
}
.navbar-light .navbar-nav .nav-link {
color: #1ebdc2;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
color: #1ebdc2;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
color: #fff;
}
.navbar-light .navbar-nav .nav-link{
padding-top: 22px;
padding-bottom: 22px;
transition: 0.3s;
padding-left: 24px;
padding-right: 24px;
font-size: 14px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
background: #1ebdc2;
transition: 0.3s;
}
.dropdown-item:focus, .dropdown-item:hover {
color: red;
text-decoration: none;
}
.sm-menu{
border-radius: 0px;
border: 0px;
top: 97%;
box-shadow: rgba(173, 173, 173, 0.2) 1px 3px 4px 0px;
}
.dropdown-item {
font-size: 14px;
text-align: left;
padding: 5px;
font-family: proxima-reg;
color: #000000;
background-color:#fff !important;
}
.dropdown-item.active, .dropdown-item:active {
color: red;
text-decoration: none;
}
.navbar-toggler{
outline: none !important;
}
.navbar-tog{
color: #1ebdc2;
}
.megamenu-li {
position: static;
}

.megamenu {
position: absolute;
width: 100%;
left: 0;
right: 0;
padding: 15px 15px 0px 15px;
}
.megamenu h6{
margin-left: 21px;
}
.megamenu i{
width: 20px;
}
.mega_img img{
height: 200px;
width: 200px;
}
.mega_img{
text-align: right;
}

.men_dropdown{
display: none;
width: 95.5%;
margin: 0px auto;    
}
.nav-item a{
font-family: proxima-reg;
color: #000 !important;
font-size: 16px !important;  
}
.desktop_navbar .dropdown-toggle::after {
display:none;
}

.navbar-light .navbar-nav .nav-link:hover {
background: none !important;
color:red;
}
.dmenu a:hover{
color:red;
}
.nav-item a:hover {
color: red !important;
}
.nav-link {
padding: 20px 0px 15px 14px;
}
.header_nav  ul{
padding-left: 30px;
}
.logo img{
max-width: 140px;
height: auto;
}
.header_nav{
border-bottom: 1px solid #00000026;
}
.user_panel li{
float: right;
padding-right: 30px;
}
.header_search{
padding-top: 11px;
}
.header_search input{
border: none;
border-bottom: 1px solid #0000004f;
padding: 5px;
outline: none;
margin-left: 6px;
}
.header_search i{
font-size: 18px;
color: #0000004f;  
cursor: pointer;
}
.user_panel .fa-user-circle{
font-size: 21px;
color: #808080;
}
.user_panel .fa-shopping-cart, .fa-bars{
font-size: 18px;
color: #808080;
}
#home_footer{
text-align: center;
padding: 15px;
background: #fdfdfd;    
}
.header_nav .row{
padding-top: 10px;
padding-bottom: 10px;
}
.mobile_navbar .user_panel li {
float: right;
padding-right: 15px !important;
}
.mobile_navbar .logo img {
padding-top: 15px;
}
.login_register_parent{
position: relative;
}
.login_register{
box-shadow: 0px 0px 8px -4px;
padding: 18px;
position: absolute;
z-index: 99;
background: #fff;
width: 120px;
right: 10px;
top: 52px;
}
.login_register p{
margin: 0px;
padding-bottom: 10px;
}
.login_register p:last-child{
padding: 0px;
}

.login_register a{
list-style-type: none;
font-size: 18px !important;
text-decoration: none;
}
.login_register{
display: none;
}
.login_register_parent:hover .login_register{
display: block;
}

.sidebar{
background: #fff;
position: absolute;
top: 0;
left: 0;
width: 95%;
z-index: 999;
padding: 10px 0px;
margin-left: -100%;
}


.side_nav{
width: 100%;
}
.sidebar i{
font-size: 20px;
cursor: pointer;
}
.sidebar ul li a{
text-transform: uppercase;
color: #000;
padding-left: 15px;
}

.sidebar ul li{
list-style-type: none;
display: block;
line-height: 35px; 
margin-top: 10px; 
}
.sidebar ul li:hover{
color:#fff;
}
.sidebar ul li:hover a{
color:#fff;
text-decoration: none;
}
.mobile_navbar .login_register {
width: 98px;
right: 5px;
}

.home_child{
position: absolute;
left: 0;
top: 0px;
text-align: center;
height: 100%;
width: 100%;
overflow: hidden;
background: #00000080;
transition: 0.5s all;
color: #fff;
cursor: pointer;
}
.home_child h3{
padding-top: 28%;
text-transform: uppercase;
}

.mobile_mini ul li a{
padding: 10px;
color: #fff;
font-size: 14px;
text-decoration: none;
}
.mobile_mini {
padding: 10px 0px;
background: #464444;
}
#sidebar_show{
color:#fff;
}

#custom_submenu .sm-menu{
padding-left: 10px;
box-shadow: none;
}

#custom_submenu .dropdown-item{
font-size: 12px !important;
line-height: 25px;

}
#custom_submenu{
box-shadow: none;
}
#custom_submenu a{
padding-left: 30px;
}

/* .dropdown-toggle:hover::before {
transform: rotate(0deg);
}
.dropdown-toggle:hover::after {
transform: rotate(180deg);
} */

.sidebar ul li:hover a {
color: #000 !important;
text-decoration: none;
}


/* slider css */
.carousel-thumbnails .carousel-indicators img {
max-width: 130px;
height: 100%;
overflow: hidden;
display: block;
}
.carousel-thumbnails .carousel-indicators li {
height: auto;
max-width: 130px;
width: 130px;
border: none;
box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
}
.carousel-indicators .active{
border:1px solid #fff !important;
}


/* man-page-stye */

#man_section_2{
padding-top: 30px;
}
.man_child {
padding-top: 38%;
}
.man_child, .home_child{
position: absolute;
left: 0;
top: 0px;
text-align: center;
height: 100%;
width: 100%;
overflow: hidden;
background: #0000004a;
color: #fff;
cursor: pointer;
}
.man_parent{
position: relative;
height: 100%;
width:100%;
transition: 0.5s all;
overflow: hidden;
}
.home_prent{
    position: relative;
    height: 430px;
    width:100%;
    overflow: hidden; 
}
.home_prent img{
height: 100%;
width: 100%;
}
.man_parent img{
position: relative;
height: 400px;
width:100%;
overflow: hidden;
}
.full_width_img img{  
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.full_width_img .man_child{
    padding-top: 20%;
}
.man_child h3{
text-transform: uppercase;
}
#man_section_2 .col-md-4{
    padding-bottom: 15px;;
}

#man_section_4{
background: #000;
padding: 20px 0px;
margin: 30px 0px;
text-align: center;
}
#man_section_4 ul li a{
    color: #fff;
    font-size: 30px;
    padding: 20px;   
}
#man_section_5 form{
    width: 100%;
}

#man_section_5 input{
    padding: 8px;
    outline: none;
    border: 1px solid #c1c1c1;
    background: #fff;
    color: #000;
    width: 100%;
    font-size: 14px;

}

#man_section_5 input[type='submit']{
    background: rgb(218 218 218);
    cursor: pointer;
}

#man_section_5 img{
    width: auto;
    height: auto;
    padding-top:30px;
}
#man_section_5 h4{
    color:#808080;
}
.men_footer{
    border-left: 1px solid rgb(184, 184, 184);
}
.men_footer ul{
    padding: 0px 15px;    
}

.men_footer ul li{
    display: block;
}
.men_footer ul li a{
    color: #808080;
    text-decoration: none;
    line-height: 35px;
    text-transform: uppercase;
}

#man_section_5{
    padding-bottom: 20px;
}

#copywrite img{
    width: 100%;
}

#copywrite p{
    padding-top: 16px;    
}

#copywrite .container{
    padding: 10px 0px;
        border-top: 1px solid #dedede;
}
#home_footer p{
font-size: 14px;
margin-bottom: 10px;
}

#men_single_1{
    border-bottom: 1px solid #cccbcb;
    margin-bottom: 20px;    
}

#men_single_1 .dropdown-toggle::after {
    display: none;
} 

#men_single_1 a:first-child{
    padding-left: 0px !important;
}

.per_page select{
    width: 110px;
    padding: 3px;
    border: 1px solid #c5c5c5;
    margin-top: 15px;
    outline: none;    
}
.sort_by select{
    width: 178px;
}
.num_box{
    border: 1px solid #000;
    width: 28px;
    text-align: center;
    float: left;
    margin: 15px 0px 0px 8px;
}
.num_box:hover{
    cursor: pointer;
    background:#000;
    color:#fff;
}
.price_range{
    width: 310px;
    height: 100px;
    left: -5px;
    border: 1px solid rgb(206, 205, 205);
}
.price_range small{
    font-size: 90%;
    font-weight: 400;   
}

#men_single_1 input[type='range'] {
    width: 280px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
    outline: none;
}
#men_single_1 input[type='range'],
#men_single_1 input[type='range']::-webkit-slider-runnable-track,
#men_single_1 input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
    background: none;
}
#men_single_1 input[type='range']::-webkit-slider-runnable-track {
    width: 280px;
  height: 1px;
  background: #003D7C;
}

#men_single_1 input[type='range']:nth-child(2)::-webkit-slider-runnable-track{
  background: none;
}

#men_single_1 input[type='range']::-webkit-slider-thumb {
  position: relative;
  height: 15px;
  width: 15px;
  margin-top: -7px;
  background: #fff;
  border: 1px solid #003D7C;
  border-radius: 25px;
  z-index: 1;
}


#men_single_1 input[type='range']:nth-child(1)::-webkit-slider-thumb{
  z-index: 2;
}
#men_single_1 .rangeslider{
    position: relative;
    height: 60px;
    width: 265px;
    display: inline-block;
    margin-top: 3px;
    margin-left: 0px;
}
#men_single_1 .rangeslider input{
    position: absolute;
}
#men_single_1 .rangeslider{
    position: absolute;
}

#men_single_1 .rangeslider span{
    position: absolute;
    margin-top: 30px;
    left: 0;
}

#men_single_1 .rangeslider .right{
   position: relative;
   float: right;
   margin-right: -5px;
} 
.checked_box{
    padding:0px;
    border: 1px solid rgb(206, 205, 205);
    width: 250px;
    left: 13%;   
}
.check_box{
    padding:0px 10px 10px 10px;
}
.check_box span{
    padding-left: 5px;
}
.check_box ul li{
    display: block;
    line-height: 30px;
}
.men_single_page{
    height: 700px;
}
.men_single_page img{
    height: 100%;
}
.men_single_page .man_child{
    padding-top:50%;
}
.men_single_page i {
    font-size: 25px;
    background: #fff;
    color: #0009;
    padding: 20px 41px 20px 39px;
}
.fa-shopping-bag{
    padding: 20px 43px 20px 39px !important;
}
.men_single_page .man_child{
    background: #fff0;
}
.men_single_page .man_child:hover{
    transition: .5s;
    background: #0000004a;
}
.linkig_option{
    visibility: hidden;
    
}
.men_single_page:hover .linkig_option{
    transition: .5s;
    visibility: unset; 
}

.product_price p{
    text-align: center !important;
    font-size: 19px !important;
    padding: 15px 0px !important;
    margin:0px;
}






#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 15px;
    right: 20px;
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    background: none;
  }
  
  html {
    scroll-behavior: smooth;
  }