ul{
margin: 0;
padding: 0;
}
li{
list-style-type: none;
display: inline-block;
}
a{
text-decoration: none;
}
.navbar{
background: #fff;
padding-top: 0;
padding-bottom: 0;
box-shadow: 1px 3px 4px 0 #adadad33;
}
.navbar-light .navbar-brand {
color: #2196F3;
}
.navbar-light .navbar-nav .nav-link {
color: #1ebdc2;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
color: #1ebdc2;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
color: #fff;
}
.navbar-light .navbar-nav .nav-link{
padding-top: 22px;
padding-bottom: 22px;
transition: 0.3s;
padding-left: 24px;
padding-right: 24px;
font-size: 14px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
background: #1ebdc2;
transition: 0.3s;
}
.dropdown-item:focus, .dropdown-item:hover {
color: red;
text-decoration: none;
}
.sm-menu{
border-radius: 0px;
border: 0px;
top: 97%;
box-shadow: rgba(173, 173, 173, 0.2) 1px 3px 4px 0px;
}
.dropdown-item {
font-size: 14px;
text-align: left;
padding: 5px;
font-family: proxima-reg;
color: #000000;
background-color:#fff !important;
}
.dropdown-item.active, .dropdown-item:active {
color: red;
text-decoration: none;
}
.navbar-toggler{
outline: none !important;
}
.navbar-tog{
color: #1ebdc2;
}
.megamenu-li {
position: static;
}

.megamenu {
position: absolute;
width: 100%;
left: 0;
right: 0;
padding: 15px 15px 0px 15px;
}
.megamenu h6{
margin-left: 21px;
}
.megamenu i{
width: 20px;
}
.mega_img img{
height: 200px;
width: 200px;
}
.mega_img{
text-align: right;
}

.men_dropdown{
display: none;
width: 95.5%;
margin: 0px auto;    
}
.nav-item a{
font-family: proxima-reg;
color: #000 !important;
font-size: 16px !important;  
}
.desktop_navbar .dropdown-toggle::after {
display:none;
}

.navbar-light .navbar-nav .nav-link:hover {
background: none !important;
color:red;
}
.dmenu a:hover{
color:red;
}
.nav-item a:hover {
color: red !important;
}
.nav-link {
padding: 20px 0px 15px 14px;
}
.header_nav  ul{
padding-left: 30px;
padding-top: 8px;
}
.logo{
    text-align: center;
}
.logo img{
max-width: 80px;
height: auto;
}
.mobile_logo img{
    max-width: 80px !important;
    height: auto;  
}
.header_nav{
border-bottom: 1px solid #00000026;
}
.user_panel li{
float: right;
padding-right: 30px;
}
.header_search{
padding-top: 11px;
}
.header_search input{
border: none;
border-bottom: 1px solid #0000004f;
padding: 5px;
outline: none;
margin-left: 6px;
}
.header_search i{
font-size: 18px;
color: #0000004f;  
cursor: pointer;
}
.user_panel .fa-user-circle{
font-size: 21px;
color: #808080;
}
.user_panel .fa-shopping-cart, .fa-bars{
font-size: 18px;
color: #808080;
}
#home_footer{
text-align: center;
padding: 15px;
background: #fdfdfd;    
}
.header_nav .row{
padding-bottom: 2px;
}
.mobile_navbar .user_panel li {
float: right;
padding-right: 15px !important;
}
.mobile_navbar .logo img {
padding-top: 5px;
}
.login_register_parent{
position: relative;
}
.login_register{
box-shadow: 0px 0px 8px -4px;
padding: 18px;
position: absolute;
z-index: 99;
background: #fff;
width: 120px;
right: 10px;
top: 52px;
}
.login_register p{
margin: 0px;
padding-bottom: 10px;
}
.login_register p:last-child{
padding: 0px;
}

.login_register a{
list-style-type: none;
font-size: 18px !important;
text-decoration: none;
}
.login_register{
display: none;
}
.login_register_parent:hover .login_register{
display: block;
}

.sidebar{
background: #fff;
position: absolute;
top: 0;
left: 0;
width: 95%;
z-index: 999;
padding: 10px 0px;
margin-left: -100%;
}


.side_nav{
width: 100%;
}
.sidebar i{
font-size: 20px;
cursor: pointer;
}
.sidebar ul li a{
text-transform: uppercase;
color: #000;
padding-left: 15px;
}

.sidebar ul li{
list-style-type: none;
display: block;
line-height: 35px; 
margin-top: 10px; 
}
.sidebar ul li:hover{
color:#fff;
}
.sidebar ul li:hover a{
color:#fff;
text-decoration: none;
}
.mobile_navbar .login_register {
width: 98px;
right: 5px;
}

.home_child{
position: absolute;
left: 0;
top: 0px;
text-align: center;
height: 100%;
width: 100%;
overflow: hidden;
background: #00000080;
transition: 0.5s all;
color: #fff;
cursor: pointer;
}
.home_child h3{
padding-top: 28%;
text-transform: uppercase;
}

.mobile_mini ul li a{
padding: 10px;
color: #fff;
font-size: 14px;
text-decoration: none;
}
.mobile_mini {
padding: 10px 0px;
background: #464444;
}
#sidebar_show{
color:#fff;
}

#custom_submenu .sm-menu{
padding-left: 10px;
box-shadow: none;
}

#custom_submenu .dropdown-item{
font-size: 12px !important;
line-height: 25px;

}
#custom_submenu{
box-shadow: none;
}
#custom_submenu a{
padding-left: 30px;
}

/* .dropdown-toggle:hover::before {
transform: rotate(0deg);
}
.dropdown-toggle:hover::after {
transform: rotate(180deg);
} */

.sidebar ul li:hover a {
color: #000 !important;
text-decoration: none;
}


/* slider css */
.carousel-thumbnails .carousel-indicators img {
max-width: 130px;
height: 100%;
overflow: hidden;
display: block;
}
.carousel-thumbnails .carousel-indicators li {
height: auto;
max-width: 130px;
width: 130px;
border: none;
box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
}
.carousel-indicators .active{
border:1px solid #fff !important;
}


/* man-page-stye */

#man_section_2{
padding-top: 30px;
}
.man_child {
padding-top: 38%;
}
.man_child, .home_child{
position: absolute;
left: 0;
top: 0px;
text-align: center;
height: 100%;
width: 100%;
overflow: hidden;
background: #0000004a;
color: #fff;
cursor: pointer;
}
.man_parent{
position: relative;
height: 100%;
width:100%;
transition: 0.5s all;
overflow: hidden;
}
.home_prent{
    position: relative;
    height: 430px;
    width:100%;
    overflow: hidden; 
}
.home_prent img{
height: 100%;
width: 100%;
}
.man_parent img{
position: relative;
height: 400px;
width:100%;
overflow: hidden;
}
.full_width_img img{  
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.full_width_img .man_child{
    padding-top: 20%;
}
.man_child h3{
text-transform: uppercase;
}
#man_section_2 .col-md-4{
    padding-bottom: 15px;;
}

#man_section_4{
background: #000;
padding: 20px 0px;
margin: 30px 0px;
text-align: center;
}
#man_section_4 ul li a{
    color: #fff;
    font-size: 30px;
    padding: 20px;   
}
#man_section_5 form{
    width: 100%;
}

#man_section_5 input{
    padding: 8px;
    outline: none;
    border: 1px solid #c1c1c1;
    background: #fff;
    color: #000;
    width: 100%;
    font-size: 14px;

}

#man_section_5 input[type='submit']{
    background: rgb(218 218 218);
    cursor: pointer;
}

#man_section_5 img{
    width: auto;
    height: auto;
    padding-top:30px;
}
#man_section_5 h4{
    color:#808080;
}
.men_footer{
    border-left: 1px solid rgb(184, 184, 184);
}
.men_footer ul{
    padding: 0px 15px;    
}

.men_footer ul li{
    display: block;
}
.men_footer ul li a{
    color: #808080;
    text-decoration: none;
    line-height: 35px;
    text-transform: uppercase;
}

#man_section_5{
    padding-bottom: 20px;
}

#copywrite img{
    width: 100%;
}

#copywrite p{
    padding-top: 16px;    
}

#copywrite .container{
    padding: 10px 0px;
        border-top: 1px solid #dedede;
}
#home_footer p{
font-size: 14px;
margin-bottom: 10px;
}

#men_single_1{
    border-bottom: 1px solid #cccbcb;
    margin-bottom: 20px;    
}

#men_single_1 .dropdown-toggle::after {
    display: none;
} 

#men_single_1 a:first-child{
    padding-left: 0px !important;
}

.per_page select{
    width: 110px;
    padding: 3px;
    border: 1px solid #c5c5c5;
    margin-top: 15px;
    outline: none;    
}
.sort_by select{
    width: 178px;
}
.num_box{
    border: 1px solid #000;
    width: 28px;
    text-align: center;
    float: left;
    margin: 15px 0px 0px 8px;
}
.num_box:hover{
    cursor: pointer;
    background:#000;
    color:#fff;
}
.price_range{
    width: 310px;
    height: 100px;
    left: -5px;
    border: 1px solid rgb(206, 205, 205);
}
.price_range small{
    font-size: 90%;
    font-weight: 400;   
}

#men_single_1 input[type='range'] {
    width: 280px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
    outline: none;
}
#men_single_1 input[type='range'],
#men_single_1 input[type='range']::-webkit-slider-runnable-track,
#men_single_1 input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
    background: none;
}
#men_single_1 input[type='range']::-webkit-slider-runnable-track {
    width: 280px;
  height: 1px;
  background: #003D7C;
}

#men_single_1 input[type='range']:nth-child(2)::-webkit-slider-runnable-track{
  background: none;
}

#men_single_1 input[type='range']::-webkit-slider-thumb {
  position: relative;
  height: 15px;
  width: 15px;
  margin-top: -7px;
  background: #fff;
  border: 1px solid #003D7C;
  border-radius: 25px;
  z-index: 1;
}


#men_single_1 input[type='range']:nth-child(1)::-webkit-slider-thumb{
  z-index: 2;
}
#men_single_1 .rangeslider{
    position: relative;
    height: 60px;
    width: 265px;
    display: inline-block;
    margin-top: 3px;
    margin-left: 0px;
}
#men_single_1 .rangeslider input{
    position: absolute;
}
#men_single_1 .rangeslider{
    position: absolute;
}

#men_single_1 .rangeslider span{
    position: absolute;
    margin-top: 30px;
    left: 0;
}

#men_single_1 .rangeslider .right{
   position: relative;
   float: right;
   margin-right: -5px;
} 
.checked_box{
    padding:0px;
    border: 1px solid rgb(206, 205, 205);
    width: 250px;
    left: 13%;   
}
.check_box{
    padding:0px 10px 10px 10px;
}
.check_box span{
    padding-left: 5px;
}
.check_box ul li{
    display: block;
    line-height: 30px;
}
.men_single_page{
    height: 700px;
}
.men_single_page img{
    height: 100%;
}
.men_single_page .man_child{
    padding-top:50%;
}
.linkig_option{
background: #fff;
}
.men_single_page i {
    font-size: 25px;
    background: #fff;
    color: #0009;
    padding: 25px 0px;
}
.single_tab {
    cursor: pointer;
}
.linkig_option div{
    border-left: .5px solid #000;
}
.linkig_option div:last-child{
    border-left: none !important;
}

div#desciption_btn {
    border-left: none !important;
}
.men_single_page .man_child{
    background: #fff0;
}
.men_single_page .man_child:hover{
    transition: .5s;
    background: #0000004a;
}
.linkig_option{
    visibility: hidden;
    
}
.men_single_page:hover .linkig_option{
    transition: .5s;
    visibility: unset; 
}

.product_price p{
    text-align: center !important;
    font-size: 19px !important;
    padding: 15px 0px !important;
    margin:0px;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 15px;
    right: 20px;
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    background: none;
  }
  html {
    scroll-behavior: smooth;
  }
  .mymodal{
    position: absolute;
    z-index: 9999;
    background: #f9f9f9;
    border: 1px solid #3333332b;
    box-shadow: 0px 0px 7px -3px;
    top: 25%;
    left: 15%;
    width: 900px;   
    padding: 15px;
  }
  .diescripiton_modal{
    display:none;
}
.close_btn{
    cursor:pointer;
}
.zoom-main img {
    width: 100%;
    object-fit: cover;
}
.zoom-main {
    height: 75%;
    padding: 4px;
    background: #fff;
}
.zoom-thumb {
    height: 20%;
    text-align: left;
    padding: 5px;
}
.zoom-main span {
    border:none !important;
}
.single_tab h5{
    float: left;
}
.single_tab i{
    float: right;
    padding-top: 6px;
    cursor: pointer;
}
.tabs .row {
    border: 1px solid #e0dcdc;
    padding: 4px;  
    margin-right: 0px;
}
.compare i{
    padding: 15px 20px 15px 20px;
    background: #ccc;
}
.size select{
    width: 88%;
    float: right;
    background: #fff;
    padding: 5px;
    outline: none;
    border: 1px solid #c5c5c5;    
}
.size{
    padding-top: 20px;    
    padding-bottom: 20px;    
}
.size span{
 color:#f00;
 font-size: 20px;
}
.compare{
padding: 15px 0px;
}
.cart_count input {
    width: 100%;
    background: #333!important;
    outline: none;
    border: none !important;
    text-align: center;
    color: #fff;
}

.cart_count div, #view_3 button{
    background: #333;
    color: #fff;
    padding: 8px;
    text-align: center;   
    margin-right: 1px; 
}
.add_to_cart{
    font-weight: 600;
    cursor: pointer;
}
.cart_count{
    border:none !important;
    padding-bottom: 15px !important;
}
.single_tab h5{
    text-transform: uppercase;
}
.zoom {
    height: 475px !important;
}

.add_to_card_modal img, .add_to_wistlist_modal img{
    width: 100%;
    object-fit: cover;
}
.add_to_card_modal .cart_count, .add_to_wistlist_modal .cart_count {
    padding-left: 15px;
}


.artwork {
    width: 100%;
}
.mgnfr-portal {
position: absolute;
top: 0px !important;
left: 0px !important;
}
.mgnfr-wrapper{
width:100% !important;
height:auto !important;
}
#view_1{
    padding-bottom: 25px;
}

#view_1 .container{
    padding: 25px 0px 0px 0px;
}

#view_1 .container ul li a{
    padding-right: 10px;
    padding-left: 10px;
    color: #333;
}
#view_1 .container ul { 
padding-left: 10px;
}

#view_2 .zoom-main span {
    width: 100%;
}

#view_2 .zoom-main {
    height: 85%;
}
.star_rating{
    padding: 15px 0px;
}
.star_rating ul li a{
    color:#c5c3c3;
}
.sku p{
    color:#6d6d6d;
}
.liniking_option ul li a{
    color: #000;
    background: #6d6d6d24;
    padding: 15px 20px 15px 20px;
    font-size: 25px;
}
.liniking_option{
    padding-top: 15px;
}
.size_selected{
    padding-top: 5px;
}
.size_img img{
    width: 25px;
    height: auto;
}
.size_img span{
    color:#333;
    text-decoration: none;
    font-size: 16px;
}
.size_img a:hover{
    text-decoration:none;
}

.size_selected select{
    width: 100%;
    padding: 8px;
    border: 1px solid #d8d8d8;    
    outline:0;
}

.view_page {
    padding-top: 20px !important;
    padding-left: 15px !important;
}
#view_2 .zoom {
    height: 525px !important;
}
#view_3 ul li {
    display: block;
    font-size: 19px;
    font-weight: 600;
    border-bottom: 1px solid #33333330;
    padding-top: 8px;
    padding-bottom: 8px;
}
#view_3 ul li span{
    padding-bottom: 8px;    
}
#view_3 ul li span:hover{
    border-bottom: 2px solid #000; 
    cursor: pointer; 
}
#view_3 ul li:last-child {
    border-bottom: 0px solid #33333330;
}
#view_3 .container{
    margin-top: 60px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding:10px 0px;    
}

#review textarea, #contact_part textarea{
padding: 5px;
width: 100%;
min-height: 200px;
outline: none;
border: 1px solid #d6d6d6;
}    
.leftbar{
    border-right: 1px solid #000;
}

#view_3 label {
    font-weight: 500;
}
#view_3 p{
    color: #636363;
}
#cart_1 h1, #sign_1 h1{
    text-align: center;
    color: #636363;
    padding: 55px 0px 40px 0px;
    letter-spacing: 10px;
}
#cart_2{
    padding-top: 35px;    
}
.cart_table {
    border-bottom: 1px solid #d4d3d3;    
}
.cart_table .remove i{
    border: 1px solid #d4d3d3;
    padding: 14px;
    font-size: 12px;
    color: #524e4e;
    cursor: pointer;    
}
.cart_table td, .cart_table th{
    text-align: center;
}

.cart_qty input{
    width: 45px;
    text-align: center;
    padding: 7px;
    outline: none;
    border: 1px solid #d4d3d3;
    background: none;
}
.cart_table button{
    height: 30px;
    width: 50px;
    font-size: 12px;    
}
.cart_size{
    margin: 8px;
}

.update_cart{
    padding: 10px;
    background: #444444;
    border:1px solid #444444;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}

.continue_cart{
    padding: 10px;
    border:1px solid #444444;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}

.coupon_code{
    padding: 7px;
    outline: 0;
}
.code_apply p{
    margin-bottom: 5px;
}
.calculation{
    padding: 15px;
    background: #e2e2e266;
    font-size: 18px;    
}
.terms{
    padding: 20px 0px;    
}
 #sign_1 h1 {
    letter-spacing: 6px;
}

.fb_google{
    border: 1px solid #e0e0e0;
    padding: 35px 20px;
    border-radius: 3px;
}
.facebook, .google{    
    margin: 0 auto;
    text-align: center;
    background: #5776CD;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    color:#fff;
    cursor: pointer;
}
.facebook i, .google i{  
/* border-right: 1px solid #000; */
padding-right: 6px;
}
.google{
    background: #E74B37;
}
.email_address{
    margin-top: 30px;
}
.email_address h4{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
#checkout_1 input[type="text"], #checkout_1 select{
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  #checkout_1 input.invalid {
      border: 1px solid #ff000075;
  }
  
  /* Hide all steps by default: */
  #checkout_1 .tab {
    display: none;
  }
  
  #checkout_1 button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }
  
  #checkout_1 button:hover {
    opacity:1;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
  }
  
  /* Make circles that indicate the steps of the form: */
  #checkout_1  .step {
      margin: 0 2px;
      background-color: #bbbbbb;
      border: none;
      display: inline-block;
      padding: 15px 23px;
      color: #fff;
      text-transform: uppercase;
      cursor: pointer;
      border-radius: 50%;
      margin-left: 40px;
      cursor:pointer;
  }
.last_step{
    padding: 14px 18px !important;
}
  #checkout_1 .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  #checkout_1 .step.finish {
      background-color: #4CAF50;
  
  } 
  #checkout_1 form{
      padding: 35px 0px;    
  }  
  #checkout_1 .method{
  padding-bottom: 20px;
  }
  #checkout_1 .method span{
    color: #000;
    font-weight: 600;
}
.method small{
    padding-left: 25px;
}
#checkout_1 input[type="radio"]{
    height: 17px;
    width: 20px;
    float: left;
    margin-top: 4.3px;
    margin-right: 4px;
}
.checkout_form{
    padding: 50px 50px 0px 50px;
    border: 1px solid #ced2d6;
    border-radius: 5px;    
}
.method p, .devery p{
    margin: 0px;
}

.devery{
    padding: 15px;
    border: 1px solid #456;
    border-radius: 5px;    
}
.devery small{
text-align: center;  
}
.cash{
    padding-bottom: 40px;
}

.ssl{
    margin-bottom: 20px;
}

.billing_address, .shipping_address{
    padding: 15px;
    border: 1px solid #d4d9de;
    line-height: 35px;    
    margin: 15px 0px;
}
.cart_header{
    float: left;
    margin-right: 10px;
}
.cart_header input {
    width: 35px;
    padding: 2px;
}
.cart_div b{
    font-size: 13px;
}
.cart_div td{
    padding:10px;
}

.cart_div{
    position: absolute;
    z-index: 9999;
    right: 40px;
    background: #fff;
    box-shadow: 0px 0px 6px -1px;
    width: 354px;    
}
.cart_title{
    width:100%;
    text-align: center;
    padding: 30px 0px;
}
.cart_btn{
    border: 1px solid #456;
    padding: 10px;
    width: 160px;
    margin: 25px auto;
    text-align: center;
    cursor: pointer;
}
.cart_div{
    display: none;
}
#cart_parent:hover .cart_div{
    display: block;
}

.cart_div_mobile {
    right: 10px;
    width: 335px;
}
.mobile_logo{
    text-align: left  !important;
}
.mobile_logo img{
    max-width: 50px !important;
    height: auto;  
}